<CONFIG>
<CONFIG-ITEM>
<BASE_URL>https://qualysapi.qg1.apps.qualys.com.au</BASE_URL>
<USERNAME>myusernme</USERNAME>
<PASSWORD>password123</PASSWORD>
<DAYS_OF_STATS>30</DAYS_OF_STATS>
<AZURE_ACCOUNT>
Blob_account
</AZURE_ACCOUNT>
<BLOB_TOKEN>
blob_access_token
</BLOB_TOKEN>
<CONTAINER>
sentinel
</CONTAINER>
<BLOB_NAME>
detections.csv
</BLOB_NAME>
</CONFIG-ITEM>
</CONFIG>